/* TODO ============ Importaciones ============ */
@import url('stars.css');
@import url('containersGeneral.css');
@import url('sections.css');

/* ! ======== Configuración General ======== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: #10202f;
    background-image: url('../img/fondo_900px.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

/* 🔹 Fondo alternativo para móviles */
@media (max-width: 768px) {
    body {
        background-image: url('../img/fondo_720px.jpg');
    }
}

/* ! ======== Luna de fondo ======== */
body::before {
    content: "";
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 100vh;
    max-width: 660px;
    max-height: 660px;
    transform: translate(-50%, -50%);
    background: url('../img/luna.png') no-repeat center center;
    background-size: contain;
    z-index: 0;
    pointer-events: none;
}

/* ! ======== Contenedor principal ======== */
.content-container>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-align: center;
    padding: 0 16px;
    box-sizing: border-box;
}